<div class="posts-c">
  <div class="title_container"> 
    <h1 class="content">掲示板</h1>
    
  </div> 
  <div class="posts-c-one">
  <div class="card-group">
    <% if @notices %>
      <% @notices.each do |notice| %>
          <div class="card ">
          <div class="profile_image_area">
            <div class="user_image2">
              <% if notice.user.image? %>                                                              
                <%= image_tag notice.user.image.url(:thumb), class: "image2" %>
              <% else %>
                <img src="/assets/default.png" class="image2" alt="ユーザーアイコン" >
              <% end %>
              </div>
          </div>
            <div class="card-body">
              <h4 class="card-title"><%= notice.user.name %></h4>
              <p class="card-text"><%= notice.notice_title %></p>
              <%= link_to "詳細", notice_path(notice), {class: "btn btn-primary"} %>
            </div>
            </div>
      <% end %>
      </div>
  </div>
      <div class="pagenate_tag">
        <%= will_paginate @notices%>
      </div>
    <% end %>
</div>


